:root {
    --dark-blue: #121920;
    --orange: #F49D1E;
    --gray: #212223;
    --ligth-blue: #1E75F4;
    --white: #FFFF;
    --container-width: 1200px;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-blue);
    width: 100%;
    font-family: 'Harmattan', sans-serif, 'Roboto';
    font-size: 18px;
    position: relative;
    z-index: -1;
}

.header {
    background-color: var(--white);
    box-shadow: 0px 6px 8px 5px black;

}

h1 {
    text-shadow: 1px 1px 3px #4f4f4f;
}

.container {
    max-width: var(--container-width);
    padding: var(--spacing-lg);
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button,
input {
    border: none;
    cursor: pointer;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.btn {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    transition: 0.15s ease-in-out;
    font-weight: bold;
}



.main {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 2em;

}

.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 2em;
    column-gap: 2em;
    margin: 20px auto;
}

.main-grid .container {
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: var(--gray);
    width: 100%;
    height: 200px;
}

.add-btn {
    background-color: var(--orange);

}

.add-btn:hover,
.add-btn:active {
    background-color: #efa73b;
    border-color: #4f4f4f;
    border: 1px solid;
}

#modal {
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    padding: 10px;

    animation-name: myAnimation;
    animation-duration: 300ms;
    z-index: 1;

}

@keyframes myAnimation {
    from {
        top: -300px;

    }

    to {
        top: 20%;
    }
}

#closeBtn {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0px 10px 0px 20px;
    height: 50px;
    background-color: var(--orange);
}

#modal .pop-up {
    width: 300px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: relative;
}

form input {
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: var(--border-radius);

}

.stars-grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    margin: 10px 0;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;

    color: var(--ligth-blue);
}

.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
    cursor: pointer;
    color: #1E75F4;

}


.enterBtn {
    background-color: #efa73b;
}

.enterBtn:hover,
.enterBtn:active {
    background-color: #efa73b;
    border-color: #4f4f4f;
}


.book {
    background-color: var(--white);
}

@media (max-width: 460px) {
    .main-grid {}
}