:root {
    --dark-blue: #121920;
    --orange: #F49D1E;
    --gray: #212223;
    --ligth-blue: #1E75F4;
    --white: #FFFF;
    --container-width: 1200px;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-blue);
    width: 100%;
    font-family: 'Harmattan', sans-serif, 'Roboto';
    font-size: 18px;
    position: relative;
    max-height: 100vh;
}

.header {
    background-color: var(--white);
    box-shadow: 0px 6px 8px 5px black;

}

h1 {
    text-shadow: 1px 1px 3px #4f4f4f;
}

.container {
    max-width: var(--container-width);
    padding: var(--spacing-lg);
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button,
input {
    border: none;
    cursor: pointer;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.btn {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    transition: 0.15s ease-in-out;
    font-weight: bold;
}



.main {
    text-align: center;
    margin: auto;
    padding: 2em;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
    gap: 2rem;
    margin: 20px auto;
    overflow: scroll;
    height: 330px;
}

.book {
    display: flex;
    flex-direction: column;
    color: var(--dark-blue);
    background-color: var(--gray);
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    gap: .5rem;
}

.book p {
    background-color: whitesmoke;
    border-radius: 10px;

}

.isRead {
    background-color: #d61d39;
    border-radius: 10px;
}

.isRead.active {
    background-color: #3db058;
}

.remove-book-btn {
    border-radius: 10px;
    background-color: #4f4f4f;
    color: white;
}

.add-btn {
    background-color: var(--orange);

}

.add-btn:hover,
.add-btn:active {
    background-color: #efa73b;
    border-color: #4f4f4f;
    border: 1px solid;
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;

    animation-name: myAnimation;
    animation-duration: 300ms;
    z-index: 1;

}

.modal.active {
    display: flex;
    transform: translate(-50%, -20%) scale(1);
}

@keyframes myAnimation {
    from {
        top: -300px;

    }

    to {
        top: 20%;
    }
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: relative;
    gap: 1rem;
}

form input[type='text'] {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: text;
}

.modal_isRead {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;

    color: var(--ligth-blue);
}

.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
    cursor: pointer;
    color: #1E75F4;

}


.enterBtn {
    background-color: #efa73b;
}

.enterBtn:hover,
.enterBtn:active {
    background-color: #efa73b;
    border-color: #4f4f4f;
}


.book {
    background-color: var(--white);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}

@media (max-width: 460px) {
    .main-grid {}
}